<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js" defer integrity="sha512-6sSYJqDreZRZGkJ3b+YfdhB3MzmuP9R7X1QZ6g5aIXhRvR1Y/N/P47jmnkENm7YL3oqsmI6AK+V6AD99uWDnIw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/public/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0, 300;1, 300;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    

    <title>News</title>

</head>
<body>
    
     <header>

        <div class="center">

            <div class="logo">
                <h2><a href="/"><span style="font-weight: lighter;">Danki</span><b>News</b></a></h2>

            </div>

            <div class="form-search">

                <form action="/">

                    <i style="
                    position: absolute;
                    color: white;
                    font-size: 18px;

                    top: 10px;
                    left: 10px;
                    cursor: pointer;" 
                    
                    class="fa fa-search" aria-hidden="true"></i>

                    <input type="text" name="search" placeholder="Try some search...">

                </form>

            </div>

        </div>
        

     </header>
