
    <%- include('partials/header.html')  %>

     <section class="main-news">

        <div class="center">

            <div class="img">

                <div class="overlay"></div>

                <div class="description">
                    <h2>Quer fugir das praias no verão ?</h2>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam maxime voluptate esse magni, voluptatem possimus, accusamus cumque iure eius illo, nesciunt iusto corrupti molestiae porro! Accusantium repellendus et dignissimos ad.</p>
                </div>

                <img src="../public/images/background.jpeg" alt="main image">

            </div>

        </div>

     </section>

     <section class="news">

     </section>

     <section class="more-news">

        <div class="header-more-news">

            <h2>Últimas notícias</h2>

            <div class="center">

                <div class="last-ones">

                    <div class="last-one-box">

                        <img src="/public/images/rio-1.jpg" alt="first piece of news">

                        <div class="last-one-description">
                            <h3>Natureza e Geral</h3>
                            <h2>Como encarar o Surf mesmo no rio</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, cumque possimus. Enim et rem atque illo optio molestiae possimus, pariatur, recusandae perspiciatis esse eaque voluptatibus, est veritatis id beatae non?</p>
                            <a href="/encarar-o-surf">Saiba mais</a>
                        </div>

                    </div>
                    
                    <div class="last-one-box">

                        <img src="/public/images/rio-2.jpg" alt="second piece of news">

                        <div class="last-one-description">
                            <h3>Natureza e Geral</h3>
                            <h2>Como encarar o Surf mesmo no rio</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, cumque possimus. Enim et rem atque illo optio molestiae possimus, pariatur, recusandae perspiciatis esse eaque voluptatibus, est veritatis id beatae non?</p>
                            <a href="/natureza-geral">Saiba mais</a>
                        </div>

                    </div>

                </div>
                
                <div class="best-read">
                    
                    <h3>As mais lidas</h3>

                    <div class="container">

                        <div class="best-read-box">

                            <img src="/public/images/rio-3.jpeg" alt="best-read">

                            <div class="best-read-description">

                                <h4>Natureza</h4>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit assumenda ipsa corrupti repellat enim, labore non, blanditiis illo est doloremque inventore. Officiis aspernatur fugit quod quos magnam harum reprehenderit perspiciatis?</p>

                                <a href="/natureza-geral">Saiba mais</a>


                            </div>    

                        </div>

                        <div class="best-read-box">

                            <img src="/public/images/rio-3.jpeg" alt="best-read">

                            <div class="best-read-description">

                                <h4>Natureza</h4>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit assumenda ipsa corrupti repellat enim, labore non, blanditiis illo est doloremque inventore. Officiis aspernatur fugit quod quos magnam harum reprehenderit perspiciatis?</p>

                                <a href="/natureza-geral">Saiba mais</a>

                            </div>    

                        </div>

                        <div class="best-read-box">

                            <img src="/public/images/rio-3.jpeg" alt="best-read">

                            <div class="best-read-description">

                                <h4>Natureza</h4>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit assumenda ipsa corrupti repellat enim, labore non, blanditiis illo est doloremque inventore. Officiis aspernatur fugit quod quos magnam harum reprehenderit perspiciatis?</p>

                                <a href="/natureza-geral">Saiba mais</a>

                            </div>    

                        </div>

                        <div class="best-read-box">

                            <img src="/public/images/rio-3.jpeg" alt="best-read">

                            <div class="best-read-description">

                                <h4>Natureza</h4>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit assumenda ipsa corrupti repellat enim, labore non, blanditiis illo est doloremque inventore. Officiis aspernatur fugit quod quos magnam harum reprehenderit perspiciatis?</p>

                                <a href="/natureza-geral">Saiba mais</a>

                            </div>    

                        </div>
                    </div>

                </div>

            </div>

        </div>

     </section>

    <%- include('partials/footer.html')  %>

</body>
</html>
