<%- include('partials/header.html') %>

<section class="news-single">

    <div class="center">

        <div style="width: 100%;">
            <h2 style="text-align: center;"><%= posts.length %> resultado(s)</h2>

            <div style="width: fit-content; margin: 15px;" class="best-read">

                <div class="container">

                    <% for(let i = 0; i < posts.length; i++){ %>

                        <div class="best-read-box">

                            <img src="<%= posts[i].image %>" alt="best-read">
    
                            <div class="best-read-description">
    
                                <h4><%= posts[i].title %></h4>
    
                                <p><%- posts[i].body %></p>
    
                                <a href="<%= posts[i].slug %>">Saiba mais</a>
    
    
                            </div>    
    
                        </div>    

                    
                    <% } %>

                </div>

            </div>
            
        </div>

        <div class="best-read">
            
            <h3>As mais lidas</h3>

            <div class="container">

                <% for(let i = 0; i < bestReadPosts.length; i++){ %>

                    <div class="best-read-box">

                        <img src="<%= bestReadPosts[i].image %>" alt="best-read">

                        <div class="best-read-description">

                            <h4><%= bestReadPosts[i].title %></h4>

                            <p><%- bestReadPosts[i].body %></p>

                            <a href="<%= bestReadPosts[i].slug %>">Saiba mais</a>


                        </div>    

                    </div>

                <% } %>
                
            </div>
        </div>

    </div>

</section>


<%- include('partials/footer.html') %>

</body>

</html>