<%- include('partials/header.html') %>

<section class="news-single">

    <div class="center">

        <div style="width: 100%;">
            <h2 style="text-align: center;">BUSCA: 33 resultados</h2>
        </div>

        <div class="best-read">
            
            <h3>As mais lidas</h3>

            <div class="container">

                <div class="best-read-box">

                    <img src="/public/images/rio-3.jpeg" alt="best-read">

                    <div class="best-read-description">

                        <h4>Natureza</h4>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit assumenda ipsa corrupti repellat enim, labore non, blanditiis illo est doloremque inventore. Officiis aspernatur fugit quod quos magnam harum reprehenderit perspiciatis?</p>

                        <a href="/natureza-geral">Saiba mais</a>


                    </div>    

                </div>

                <div class="best-read-box">

                    <img src="/public/images/rio-3.jpeg" alt="best-read">

                    <div class="best-read-description">

                        <h4>Natureza</h4>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit assumenda ipsa corrupti repellat enim, labore non, blanditiis illo est doloremque inventore. Officiis aspernatur fugit quod quos magnam harum reprehenderit perspiciatis?</p>

                        <a href="/natureza-geral">Saiba mais</a>

                    </div>    

                </div>

                <div class="best-read-box">

                    <img src="/public/images/rio-3.jpeg" alt="best-read">

                    <div class="best-read-description">

                        <h4>Natureza</h4>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit assumenda ipsa corrupti repellat enim, labore non, blanditiis illo est doloremque inventore. Officiis aspernatur fugit quod quos magnam harum reprehenderit perspiciatis?</p>

                        <a href="/natureza-geral">Saiba mais</a>

                    </div>    

                </div>

                <div class="best-read-box">

                    <img src="/public/images/rio-3.jpeg" alt="best-read">

                    <div class="best-read-description">

                        <h4>Natureza</h4>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit assumenda ipsa corrupti repellat enim, labore non, blanditiis illo est doloremque inventore. Officiis aspernatur fugit quod quos magnam harum reprehenderit perspiciatis?</p>

                        <a href="/natureza-geral">Saiba mais</a>

                    </div>    

                </div>
            </div>
        </div>

    </div>

</section>


<%- include('partials/footer.html') %>

</body>

</html>