        <%- include('partials/header.html') %>

        <section class="news-single">

            <div class="center">

                <div class="news-single-box">

                    <h2><%= post.title %></h2>

                    <div class="author">

                        <span>Por <%= post.author %></span>

                    </div>

                    <div class="article-img">

                        <img style="max-width: 100%; object-fit: cover;" src="<%- post.image %>" alt="article main image">

                    </div>

                    <p>

                        <%- post.body %>

                    </p>

                </div>

                <div class="best-read">
                    
                    <h3>As mais lidas</h3>

                    <div class="container">

                        <% for(let i = 0; i < bestReadPosts.length; i++){ %>

                            <div class="best-read-box">
    
                                <img src="<%= bestReadPosts[i].image %>" alt="best-read">
    
                                <div class="best-read-description">
    
                                    <h4><%= bestReadPosts[i].title %></h4>
    
                                    <p><%- bestReadPosts[i].body %></p>
    
                                    <a href="<%= bestReadPosts[i].slug %>">Saiba mais</a>
    
    
                                </div>    
    
                            </div>
    
                        <% } %>                    
                    </div>
                </div>

            </div>

        </section>


        <%- include('partials/footer.html') %>

    </body>

</html>