        <%- include('partials/header.html') %>

        <section class="news-single">

            <div class="center">

                <div class="news-single-box">

                    <h2>10 Principais habilidades para se tornar um Desenvolvedor Full-Stack em 2024</h2>

                    <div class="author">

                        <span>Por Guilherme Grillo</span>

                    </div>

                    <p>

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, non et blanditiis, itaque beatae aliquam velit tempora dignissimos vero quaerat in quam voluptate nihil totam ullam ipsa laboriosam odit porro!

                    </p>

                </div>

                <div class="best-read">
                    
                    <h3>As mais lidas</h3>

                    <div class="container">

                        <div class="best-read-box">

                            <img src="/public/images/rio-3.jpeg" alt="best-read">

                            <div class="best-read-description">

                                <h4>Natureza</h4>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit assumenda ipsa corrupti repellat enim, labore non, blanditiis illo est doloremque inventore. Officiis aspernatur fugit quod quos magnam harum reprehenderit perspiciatis?</p>

                                <a href="/natureza-geral">Saiba mais</a>


                            </div>    

                        </div>

                        <div class="best-read-box">

                            <img src="/public/images/rio-3.jpeg" alt="best-read">

                            <div class="best-read-description">

                                <h4>Natureza</h4>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit assumenda ipsa corrupti repellat enim, labore non, blanditiis illo est doloremque inventore. Officiis aspernatur fugit quod quos magnam harum reprehenderit perspiciatis?</p>

                                <a href="/natureza-geral">Saiba mais</a>

                            </div>    

                        </div>

                        <div class="best-read-box">

                            <img src="/public/images/rio-3.jpeg" alt="best-read">

                            <div class="best-read-description">

                                <h4>Natureza</h4>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit assumenda ipsa corrupti repellat enim, labore non, blanditiis illo est doloremque inventore. Officiis aspernatur fugit quod quos magnam harum reprehenderit perspiciatis?</p>

                                <a href="/natureza-geral">Saiba mais</a>

                            </div>    

                        </div>

                        <div class="best-read-box">

                            <img src="/public/images/rio-3.jpeg" alt="best-read">

                            <div class="best-read-description">

                                <h4>Natureza</h4>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit assumenda ipsa corrupti repellat enim, labore non, blanditiis illo est doloremque inventore. Officiis aspernatur fugit quod quos magnam harum reprehenderit perspiciatis?</p>

                                <a href="/natureza-geral">Saiba mais</a>

                            </div>    

                        </div>
                    </div>
                </div>

            </div>

        </section>


        <%- include('partials/footer.html') %>

    </body>

</html>